@model bysj.WebUI.Models.MachinesListViewModel
@{
    ViewBag.Title = "Machines List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>销售机 - 后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="销售机" name="author" />

    <!-- Plugins css -->
    <link href="~/Content/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">列表</li>
                                
                                <li class="breadcrumb-item active">销售机</li>
                            </ol>
                        </div>
                        <h4 class="page-title">销售机</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row"><div class="col-sm-12 col-md-6"><button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addcontactmodal"> <i class="fas fa-plus"></i> 添加销售机</button></div><div class="col-sm-12 col-md-6"><div id="basic-datatable_filter" class="dataTables_filter"><label>搜索:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="basic-datatable"><i class="fas fa-search"></i></label></div></div></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="basic-datatable" class="table table-hover dt-responsive nowrap table-centered">
                                            <thead>
                                                <tr role="row">
                                                    <th>ID</th>
                                                    <th>销售机类型</th>
                                                    <th>区域</th>
                                                    <th>地址</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var p in Model.Machines)
                                                {
                                                    <tr>
                                                        <td><b>@p.id</b></td>
                                                        <td>
                                                            <p class="mb-0 font-weight-bold"><a href="javascript: void(0);">@p.type</a></p>
                                                        </td>
                                                        <td>
                                                            @p.Area.name
                                                        </td>
                                                        <td>
                                                            @p.address
                                                        </td>
                                                        <td>
                                                            @p.situation
                                                        </td>
                                                        <td>
                                                            <div class="btn-group dropdown">
                                                                <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-caret-down"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> 编辑</a>
                                                                    <a class="dropdown-item" href="#"><i class="far fa-trash-alt"></i> 删除</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                @*页码*@
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="basic-datatable_info" role="status" aria-live="polite"> </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="basic-datatable_paginate">
                                            <ul class="pagination pagination-rounded">
                                                <li class="paginate_button page-item previous" id="basic-datatable_previous">
                                                <a href="#" aria-controls="basic-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="fas fa-chevron-left"></i></a>
                                                </li>
                                                <li class="paginate_button page-item active"><a href="#" aria-controls="basic-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="basic-datatable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                                <li class="paginate_button page-item next disabled" id="basic-datatable_next">
                                                    <a href="#" aria-controls="basic-datatable" data-dt-idx="3" tabindex="0" class="page-link"><i class="fas fa-chevron-right"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end card-body-->
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->


        </div> <!-- end container -->
    </div>

    <!-- End Navigation Bar-->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    管理员 &copy; 2021
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="#">关于我们</a>
                        <a href="#">帮助</a>
                        <a href="#">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

    <div class="modal fade" id="addcontactmodal" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">添加销售机</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body p-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">类型</label>
                            <input type="text" class="form-control" placeholder="输入类型">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">区域</label>
                            <input type="email" class="form-control" placeholder="输入区域">
                        </div>
                        <div class="form-group">
                            <label for="position">地址</label>
                            <input type="text" class="form-control"  placeholder="输入地址">
                        </div>
                        <div class="form-group">
                            <label for="company">报警温度</label>
                            <input type="text" class="form-control"  placeholder="下限温度"><label>~</label><input type="text" class="form-control"  placeholder="上限温度">
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light">添加</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- App js -->
    <script src="~/Scripts/vendor.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Scripts/vendor/jquery.dataTables.js"></script>
    <script src="~/Scripts/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/vendor/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/vendor/responsive.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Default Datatable
            $('#basic-datatable').DataTable({
                "pageLength": 8,
                "lengthMenu": [[8, 15, 25, 50, -1], [8, 15, 25, 50, "All"]],
                "language": {
                    "paginate": {
                        "previous": "<i class='mdi mdi-chevron-left'>",
                        "next": "<i class='mdi mdi-chevron-right'>"
                    }
                },
                "drawCallback": function () {
                    $('.dataTables_paginate > .pagination').addClass('pagination-rounded');
                }
            });
        });
    </script>
</body>
</html>



@*@foreach (var p in Model.Machines)
    {
        <div>
            <h3>@p.id</h3>
        </div>
        <div>
            <h3>@p.address</h3>
        </div>

    }*@
@*<div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { areaId = Model.AreaId, page = x }))
    </div>*@


